doctype html
html
	head
		title Malik W. Dixon Freelance Internet Marketer/Front-End Developer
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='description' content="meta desc")
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel="stylesheet", type="text/css", href="css/main.css")

	body#page-top(data-target='.navbar-fixed-top')

		nav#custom-nav.navbar.navbar-fixed-top(role='navigation')
			.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
						span.sr-only Toggle navigation

						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='#') Malik W. Dixon

				.collapse.navbar-collapse.navbar-right.navbar-ex1-collapse
					ul.nav.navbar-nav
						li
							a.page-scroll(href='#page-top')  
						li
							a.page-scroll(href='#about-section') Introduction 

						li
							a.page-scroll(href='#portfolio-section') Portfolio       
						li
							a.page-scroll(href='#skillset-section') Skills           
						li
							a.page-scroll(href='#contact-section') Contact



		section#intro.intro-section
			.intro-body
				.container
					.row
						.col-md-6.intro-content
							h1.brand-heading Internet Marketer and Front-End Developer
							p.intro-text Building and creating Internet marketing, mobile  and web application solutions for your business. 
							a.btn.btn-circle.page-scroll(href='#about-section') 
								i.fa.fa-angle-double-down.animated



		section#about-section.text-center
			.container
				.row
					.col-lg-4.col-md-4.about-pic
						img.about-img
					.col-lg-8.about-info.text-justify
						h2.text-center Let me introduce myself
						p 
							| I am a results-driven Internet marketing graduate with over eight years of front-end development, creative development, website operations, project management, and collaborating effectively with stakeholders, vendors, and clients. I have considerable experience in web design and development, Internet marketing strategies, web site usability, W3C Validation, Web Standards, and user experience (UX) design. 
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 

				.container.work_type
					.col-md-4.type_job1.text-justify
						h3.text-center Web Development
						p
						| I have considerable experience with HTML5, CSS3, Responsive Web Design, JavaScript, JQuery and Content Management Systems (CMS) like WordPress.

					.col-md-4.type_job2.text-justify
						h3.text-center Internet Marketing
						p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					.col-md.type_job3.text-justify
						h3.text-center Web Design
						p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  


		section#portfolio-section.content-section.text-center
			.portfolio-section
				.container
					.col-lg-12.portfolio_title
						h2 My Work
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 

				.portfolio-site-1
					.container
						.row
							.col-md-4
								.card
									a.card-image(href="http://stecsrewards.com")
										span.rollover
										img.imgborder(alt="" src="img/Stecs.png" width="358" height="170")
									.card-content
										h4 Stec's Rewards
										p This website was completed in colaboration with Hot Pink Inc. (Imagine Agency) for their client Stecs Incorporated. This site is uses responsive design.

							.col-md-4
								.card
									a.card-image(href="http://mdixon47.github.io/Parents4parentsrc")
										span.rollover
										img.imgborder(alt="Go To Site"
										src="img/parents4parents.png" width="358" height="170")
									.card-content
										h4 Parents4Parents Organization
										p This website was created for one of the projects of the Vercurvich Foundation for the Parents for Parents projects that bring parents together to solve parent releated issues. 

							.col-md-4
								.card
									a.card-image(href="http://frontporchcoalition.org")
										span.rollover
										img.imgborder(alt=""
										src="img/frontporch.png" width="358" height="170")
									.card-content
										h4 Front Porch Coalition
										p This one of my earlier projects. I plan to do a redesign of this website as soon as possible. 

				.portfolio-site-2		
					.container
						.row
							.col-md-4
								.card
									a.card-image(href="http://cwshell.com")
										span.rollover
										img.imgborder(alt=""
										src="img/WesandChristi.png" width="358" height="170")
									.card-content
										h4 Wedding Site for Wes and Christi Shell
										p This website was an honor for me to complete for Wes and Christi Shell. It also great event that I was given the honor to attend.  

							.col-md-4
								.card
									.card
										a.card-image(href="http://mdixon47.github.com/jottly")
											span.rollover
											img.imgborder(alt=""
											src="img/JottlySite.png" width="358" height="170")
										.card-content
											h4 Jottly Project
											p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

							.col-md-4
								.card
									a.card-image(href="http://mdixon47.github.com/zangetsu")
										span.rollover
										img.imgborder(alt=""
										src="img/malikwdixonsite.png" width="358" height="170")
									.card-content
										h4 Back to the lab again
										p This is my first website that is being replaced. Although it is a great site and layout, it did not seem to make the clients appeal in my opinion. 

		section#skillset-section
			.container
				.row
					.col-lg-12.skillset_title
						h2 My Internet Marketing Abilities
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					.container.skillset.marketing
						.chart(data-percent='95') 
							p.title SEO 
						.chart(data-percent='90') 
							p.title PPC
						.chart(data-percent='80')
							p.title Analytics
						.chart(data-percent='75')
							p.title IM Strategies
						.chart(data-percent='80')
							p.title Link Building
					.col-lg-12.develop_title
						h2 My Web Development Abilities
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					.container.skillset.develop
						.chart(data-percent='90') 
							p.title HTML 
						.chart(data-percent='90') 
							p.title CSS3
						.chart(data-percent='80')
							p.title JavaScript
						.chart(data-percent='75')
							p.title NodeJS 
						.chart(data-percent='50')
							p.title AngularJS 


		section#testimonials-section
			.container
				.row
					.col-lg-12.testimonial
						h2 Testimonials From Clients and Good People
						#tcb-testimonial-carousel.carousel.slide(data-ride='carousel')
							ol.carousel-indicators
								li.active(data-target='#tcb-testimonial-carousel', data-slide-to='0')               
								li(data-target='#tcb-testimonial-carousel', data-slide-to='1')

								li(data-target='#tcb-testimonial-carousel', data-slide-to='2')
							// Wrapper for slides
							.carousel-inner
								.item.active
									.row
										.col-xs-12
											figure.clearfix
												.col-md-2.col-sm-2.col-xs-12
													img.img-responsive.media-object(src='img/callumkerr.jpg')                              
												.col-md-10.col-sm-10.col-xs-12
													figcaption.caption                                     
														p
															span.fa.fa-thumbs-up
															| &nbsp; "Malik is very thorough, with an extensive knowledge of modern web practices and tools, marketing on web and social media."                                      
														blockquote.no-margin
															p Callum Kerr - Front-End Developer - Hot Pink Inc. (Imagine Agency)
															|  
															small
																cite(title='Source Title')
																	i.fa.fa-globe
																	|  clov3vr.io              
								.item
									.row
										.col-xs-12
											figure.clearfix
												.col-md-2.col-sm-2.col-xs-12
													img.img-responsive.media-object(src='img/WesShell.jpg')                          
												.col-md-10.col-sm-10.col-xs-12
													figcaption.caption                                       
														p
															span.fa.fa-thumbs-up
															| &nbsp; "Malik created the website for our wedding. He was very helpful and met all of our needs!"										                                      
															blockquote.no-margin
																p Wes Shell - Senior Software Developer - Black Hills Corp
																|  
																small
																	cite(title='Source Title')
																		i.fa.fa-globe
																		|  www.blackhillscorp.com						               
								.item
									.row
										.col-xs-12
											figure.clearfix
												.col-md-2.col-sm-2.col-xs-12
													img.img-responsive.media-object(src='img/tammys-pic.jpg')            
												.col-md-10.col-sm-10.col-xs-12
													figcaption.caption                                      
														p
															span.fa.fa-thumbs-up
															| &nbsp; "Malik is great to work with because he's very responsible, articulate, intelligent, motivated, has a great personality and willing to go the extra mile without being asked."                                    
														blockquote.no-margin
															p Tammy Sellars - Program Director - Community Education of the Black Hills
															|  
															small
																cite(title='Source Title')
																	i.fa.fa-globe
																	|  www.clcbh.org
							// Controls


		section#contact-section.text-center
			.container
				.row
					.col-lg-6.col-md-6
					.col-lg-6.col-md-6.c_content
						h2 Get in Touch
						p.text-justify Right now, I am avaliable for projects at this time. If you are interested in creating a Internet business strategy, project colaboration, or just want to comment about my site please send me and message and I will respond to you as quick as I can.
						ul.list-inline.banner-social-buttons
							li
								a.btn.btn-circle(href="https://twitter.com/mdixon2009")
									i.fa.fa-twitter.fa-fw
							li
								a.btn.btn-circle(href="https//github.com/mdixon47") 
									i.fa.fa-github.fa-fw
							li 
								a.btn.btn-circle(href="#")
									i.fa.fa-google-plus.fa-fw
							li 
								a.btn.btn-circle(href="#")
									i.fa.fa-linkedin.fa-fw



		footer.text-center
			.container
				.row
					h3 This is the footer
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.


		script(type="text/javascript", src="http://code.jquery.com/jquery-1.11.0.min.js")
		script(type="text/javascript", src="http://rendro.github.io/easy-pie-chart/javascripts/jquery.easy-pie-chart.js")
		script(type="text/javascript", src="js/main.js")
		script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
