doctype html
html
	head
		title Title Site
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='description' content="meta desc")
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel="stylesheet", type="text/css", href="css/main.css")

	body#page-top(data-target='.navbar-fixed-top')

		nav#custom-nav.navbar.navbar-fixed-top(role='navigation')
			.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='#') Malik W. Dixon

				.collapse.navbar-collapse.navbar-right.navbar-ex1-collapse
					ul.nav.navbar-nav
						li
							a.page-scroll(href='#page-top')  
						li
							a.page-scroll(href='#about-section') About           
						li
							a.page-scroll(href='#portfolio-section') Portfolio            
						li
							a.page-scroll(href='#contact-section') Contact
						li
							a(href='#') Blog


		section#intro.intro-section
			.intro-body
				.container
					.row
						.col-md-8.col-md-offset-2
							h1.brand-heading Internet Marketer and Front-End Developer
							p.intro-text Building and creating Internet marketing and Web application solutions.
							.page-scroll 
								a.btn.btn-circle.page-scroll(href='#about-section') 
								i.fa.fa-angle-double-down.animated



		section#about-section.text-center
			.container
				.row
					.col-lg-12
						h2 About Me
						p 
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequawt.
						p 
							| This striking, black and white theme features stock photographs by
							a(href="http://gratisography.com")  Gratisography
							|  along with a custom Google Map skin courtesy of 
							a(href="//snazzymaps.com/") Snazzy Maps
							| .
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
				.container.work_type
					.col-md-4
						h3 Coding
						p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					.col-md-4
						h3 Internet Marketing
						p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					.col-md-4
						h3 Web Design
						p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  

		section#portfolio-section.content-section.text-center
			.portfolio-section
				.container
					.col-lg-12
						h2 My Work
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 

				.portfolio-site-1
					.container
						.row
							.col-md-4
								.card
									a.card-image(href="")
										span.rollover
										img.imgborder(alt="" src="https://unsplash.it/360/125?image=894")
									.card-content
										h4 Web Site 1
										p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

							.col-md-4
								.card
									a.card-image(href="")
										span.rollover
										img.imgborder(alt="Go To Site"
										src="https://unsplash.it/360/125?image=893")
									.card-content
										h4 Web Site 2
										p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

							.col-md-4
								.card
									a.card-image(href="")
										span.rollover
										img.imgborder(alt=""
										src="https://unsplash.it/360/125?image=887")
									.card-content
										h4 Web Site 3
										p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.


				.portfolio-site-2				
					.container
						.row
							.col-md-4
								.card
									a.card-image(href="")
										span.rollover
										img.imgborder(alt=""
										src="https://unsplash.it/360/125?image=889")
									.card-content
										h4 Web Site 4
										p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

							.col-md-4
								.card
									.card
										a.card-image(href="")
											span.rollover
											img.imgborder(alt=""
											src="https://unsplash.it/360/125?image=885")
										.card-content
											h4 Web Site 5
											p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

							.col-md-4
								.card
									a.card-image(href="")
										span.rollover
										img.imgborder(alt=""
										src="https://unsplash.it/360/125?image=870")
									.card-content
										h4 Web Site 6
										p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

		section#contact-section.content-section.text-center
			.contact-section
				.container
					.col-lg-8.col-lg-offset-2
						h2 Contact me
						p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
						ul.list-inline.banner-social-buttons
							li
								a.btn.btn-default.btn-lg(href="https://twitter.com/mdixon2009")
									i.fa.fa-twitter.fa-fw
									span.network-name Twitter
							li
								a.btn.btn-default.btn-lg(href="https//github.com/mdixon47") 
									i.fa.fa-github.fa-fw
									span.network-name Github
							li 
								a.btn.btn-default.btn-lg(href="#")
									i.fa.fa-google-plus.fa-fw
									span.network-name Google+
									
		footer.text-center
				.container
					.row
						h3 This is the footer
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.


	script(type="text/javascript", src="http://code.jquery.com/jquery-1.11.0.min.js")
	script(type="text/javascript", src="js/main.js")
	script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
